.room-page{
    width: 360px;
    height: 640px;
    position: relative;
}
.top-bar{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.search-btn{
    display: inline-block;
    background-size: contain;
    background: url("../../images/search.png") no-repeat;
    width: 24px;
    height: 24px;
}